html {
  scroll-behavior: smooth;
}

body {
	padding: 0;
  margin: 0;
  background:  rgba(207, 207, 207, 0.7);
  max-width: 100vw;
  font-family: 'lato',sans-serif;
  font-weight: 300;
  color: rgb(255, 255, 255); 
}



hr {
  width: 40em;
  color: rgba(132, 148, 140, 0.7);
  border-width: 3px;
}

.heading {
  position: relative;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 10px;
  font-size: max(4vw,2.8em);
  font-weight: 500;
  padding-bottom: 0.5em;
  }

section{
    min-width: 100vw;
    padding-bottom: 6em;
  }

.links{
  color:rgb(188, 245, 255);
}

.links:hover {
    color:rgb(4, 216, 253);
  
}

.icon {
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  padding: 3px;
}
.icon:hover {
  color: rgb(189, 245, 255);
}

canvas {
  z-index: -1;
}

.anchor{
  display: block;
  height: 3.2em; /*same height as header*/
  margin-top: -3.2em; /*same height as header*/
  visibility: hidden;
}

.text {
  color: aliceblue;
  font-size: 1.15em;
}

/*--- language ---*/

.hideLang {
  display: none !important;
}

.showLang{
  display: show;
}



/*--- navigation bar ---*/


.navbar {
  background-color: rgba(248, 244, 255, 1);
  height: 3.2em;
  vertical-align: middle;
}
.nav-link,
.navbar-title {
    color: rgb(54, 54, 54) ;
    cursor: pointer;
    display: inline-block; 
    font-weight: bold;
}
.navbar-title {
  text-align: center;
  vertical-align: center;
  margin-left: 1em;
  margin-bottom: 0;
}

.nav-link {
  margin-right: 2em !important;
  color: rgb(54, 54, 54) !important;
}

.navbar-toggler {
 color: rgb(54, 54, 54) !important;
}

.lang{
  color: rgb(54, 54, 54) !important;
  font-size: smaller;
}

.chooseLanguage {
  margin-left: 5px;
}

.nav-link:hover, .lang:hover {
  color: black !important; 
}

.lang:hover {
  font-weight: bold;
}

.navbar-collapse {
  justify-content: flex-end;
  background-color:  rgba(248, 244, 255, 1);
  width: 30%;
}

.img-fluid {
    max-width: 100%; 
    height:auto;
}

.nav-item{
  text-align: right;
}


/*--- header ---*/

.header {
	position: relative;
}

.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: transparent;
}

.description {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -55%);
  text-align: center;
  background:	transparent;
  padding: 2.2%;
  width: 70%;
  font-weight: 300;
}

.landingtext {
  animation: fadeIn 3s forwards; 
  opacity: 0;
}

.description h1 {
  color: rgb(255, 255, 255);
  font-size: max(5vw, 3em);
  letter-spacing: 10px;
  
  
}

.description p {
	color: rgb(237, 239, 252);
	font-size: max(1vw, 1.5em);
  line-height: 1.5;
  letter-spacing: 10px;
  
}


.learnmore{
  color: white;
  background-color: transparent;
  border-radius: 5px;	
  border: 1px solid #ffffff;
  transition: all 0.2s;
  font-weight:300;
  font-size: max(1vw,1em);

}
.learnmore:hover {
  border: 1px solid #fff;
  color: rgb(45, 45, 45);  
  background-color: white;
}


@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
  
.second {
  animation-delay: 1s;
}

.third {
  animation-delay: 2s;
}


/*--- about section ---*/



.introcontainer {
  flex-wrap: nowrap;
  display: inline-flex;
  z-index: 1;
  
}

.introtext {
  display: flex;
  align-items: center;
  justify-content: center;
}


.prof {
  position:relative;
  max-width: 100%;
  object-fit: contain;
  max-height: 80%;
  
}

.profpic {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*--- projects section ---*/


.features {
	margin: 0 auto;
	padding: 1em;
	position: relative;
}

.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    
    
}

.features .filter {
  color: white;
  background-color: transparent;
  border-radius: 5px;	
  border: 1px solid #ffffff;
  transition: all 0.2s;
  font-weight:300;
	
}

.features .filter:hover {
  border: 1px solid #fff;
  color: rgb(45, 45, 45);  
  background-color: white;
}

.filter {
  border-radius: 12px;
  margin:2px;
}


.features .form-control,
.features input {
	border-radius: 0;
}


.tags {
  margin-top: 0em;
  margin-bottom: 2em;
  margin: -3em, auto, 2em, auto ;
  display: flex;
  justify-content: space-evenly
}

.clicked {
  background-color: rgb(234, 236, 193);
}
.img-thumbnail, .vid-thumbnail{
  border-color: white;
  border-width: 2px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.71;
  min-width: 100%;
  
}

.imgdiv{
  overflow:hidden;
  height: min(48vw, 15em);
  width: 65vw;
  background: transparent;
  position: relative;
  margin: 6px auto;
}

.img-thumbnail:hover, .vid-thumbnail:hover{
  opacity: 1;
  border: 4px solid rgb(255, 255, 255);
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */    

}

.modal-content {
  margin: auto;
  display: block;
  max-height: 75%;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  background: none;
}



.figure-caption {
  color: #FFF;
  position: absolute;
  bottom: 15%;
  left: 25%;
  right: 25%;
  max-width: 100%;
  text-align: center;
  background-color: #222;
  padding: 10px

}

/*--- tech ---*/

.tech {
  max-width: 75%;
  padding-bottom: 3em;
}

.tools {
  margin-top: -1em;
}

.progressbar-title{
  font-size: 1.5em;
  font-weight: 300;
  color: #ffffff;
  margin-top: 0;
  padding-right: 1em;
  margin-bottom: 20px;
}

.progress{
  height: 2.3em;
  background-color: rgba(223, 229, 238, 0.15);
  margin-bottom: 20px;
  box-shadow: none;
  border-radius: 0;
  width: 90%;
}

.progress .progress-bar{
  position: relative;
  box-shadow: none;
  background-color: rgb(230, 234, 240);
 
  
}

.progress-bar.animated5 {
  -moz-animation: fillBar5 2s;
  -webkit-animation: fillBar5 2s;
  animation: fillBar5 2s;

}

.progress-bar.animated4 {
  -moz-animation: fillBar4 2s;
  -webkit-animation: fillBar4 2s;
  animation: fillBar4 2s;

}

.progress-bar.animated3 {
  -moz-animation: fillBar3 2s;
  -webkit-animation: fillBar3 2s;
  animation: fillBar3 2s;

}
.progress-bar.animated2 {
  -moz-animation: fillBar2 2s;
  -webkit-animation: fillBar2 2s;
  animation: fillBar2 2s;

}

.progress-bar.animated1 {
  -moz-animation: fillBar1 2s;
  -webkit-animation: fillBar1 2s;
  animation: fillBar1 2s;

}

.progress .progress-value{
  font-size: 15px;
  font-weight: 700;
  color: rgb(34, 34, 37);
  position: absolute;
  left: 10px;
  letter-spacing: 3px;

}



@keyframes fillBar1 {
  from {width: 0%;}
  to {width: 43%}
}

@keyframes fillBar2 {
  from {width: 0%;}
  to {width: 55%}
}
@keyframes fillBar3 {
  from {width: 0%;}
  to {width: 68%}
}

@keyframes fillBar4 {
  from {width: 0%;}
  to {width: 80%}
}

@keyframes fillBar5 {
  from {width: 0%;}
  to {width: 92%}
}

.level1 {
  width: 43%;
}

.level2 {
  width: 55%;
}

.level3 {
  width: 68%;
}

.level4 {
  width: 80%;
}

.level5 {
  width: 92%;
}

.techHeading {
  margin: 0 auto 0 auto;
  color: rgb(255, 255, 255);
  padding-top: 1em;
  padding-bottom: 0.5em;
  letter-spacing: 3px;
  font-size: 1.5em;
  font-weight: 300;
}


/*--- code & contact ---*/

.contact{

  float: right;
  text-align: left;
  font-size: 1.2em;
  font-weight: 500;
  
}

.cc {
  padding-right: 4em;
}


/*--- footer ---*/

footer {
	color:  rgb(163, 163, 163);
  font-weight: 300;
  margin-left: 2em;
  font-size: 0.8em;

}





/*--- media queries ---*/

@media (max-width: 767px) {

	.description {
    text-align: center;
    max-width: 100%;
	}
	
	.description h1 {
		font-size: 2em;
	}
	
	.description p {
		font-size: 1.2rem;
	}
	
	.features {
		margin: 0;
  }

.introcontainer{
  display: block;
}
.prof {
  max-width: 80%;
  padding-bottom: 2em;
}

.tools {
  padding-top: 2em;
}
.techHeading {
   display: none;
 }

 .text{
   text-align: center;
 }

 .cc {
   display: flex;
   align-items: center;
   justify-content: center;
   padding-right: 1em;
 }

 .contact{
   padding-top: 1.5em;
   text-align: center;
 }


 



  #headerPopup{
    width:75%;
    margin:0 auto;
  }
  
  #headerPopup iframe{
    width:100%;
    margin:0 auto;
  }
  
  
}

 